.p-twiiter{
  &__container{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $color-main;

    h2{
      text-align: center;
      width: 100%;
      margin: 24px;
    }
  }
}
